:root {
    --dark1: #0000004d;
    --dark2: #181c20;
    --dark3: #212529;
    --dark4: #2d3135;
    --dark5: #424549;
    --dark6: #404346;
    --dark7: #9c9c9c;
    --dark8: #dae0e7;
    --dark9: #262a2e;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    background-color: var(--dark3);
}

.container {
    max-height: 90vh;
    width: 80vw;
    background-color: var(--dark2);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
    color: var(--dark8);
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none; /* Hidden by default */
    align-items: center;
    justify-content: center;
    z-index: 10;
}

.popup.open {
    display: flex; /* Show popup when opened */
}

.popupContainer {
    background: var(--dark2);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark8);
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.closeBtn {
    background: transparent;
    color: var(--dark8);
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.details {
    margin-top: 15px;
}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.inputFieldContainer div {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--dark5);
}

input[type="file"] {
    padding: 5px;
    cursor: pointer;
}

.submitBtn {
    width: 100%;
    padding: 10px;
    background-color: var(--dark5);
    color: var(--dark8);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}

.submitBtn:hover {
    background-color: var(--dark6);
}

table {
    width: 100%;
    padding-top: 15px;
    border-collapse: collapse;
}

th, td {
    padding: 5px 10px;
    color: var(--dark8);
    vertical-align: middle;
    text-align: center;
}

td {
    font-size: 1rem;
    font-weight: 500;
}

button {
    padding: 5px 10px;
    background-color: var(--dark5);
    color: var(--dark8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: var(--dark6);
}

.addProduct {
    padding: 10px 15px;
    font-size: 1rem;
    background-color: var(--dark5);
    color: var(--dark8);
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.addProduct:hover {
    background-color: var(--dark6);
}
