:root{
    --dark1: #0000004d;
    --dark2: #181c20;
    --dark3: #212529;
    --dark4: #2d3135;
    --dark5: #424549;
    --dark6: #404346;
    --dark7: #9c9c9c;
    --dark8: #dae0e7;
    --dark9: #262a2e;
    /* --red1: #902e31; */
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
}

.container{
    max-height: 90vh;
    width: 80vw;
    background-color: var(--dark2);
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    padding: 15px;
}
/* header{
    padding-bottom: 15px;
} */

.head_1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 5px 0px; */
    padding: 10px 0px;
    /* background-color: antiquewhite;    */
}
.headName{
    font-size: 2rem;
    color: var(--dark8);
    font-weight: 600;
}
.filter label{
    color: var(--dark8);
    font-size: 1.3rem; 
}
.filter input{
    font-size: 1rem;
    padding: 10px 5px;
    padding-top: 10px;
    border-radius: 4px;
    border: none;
    cursor: pointer;
    background-color: var(--dark5);
    color: var(--dark8);
}

.head_2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 5px 0px;  */
    padding: 10px 0px;
    /* background-color: red; */
}
.addProduct, #sortBy{
    font-size: 1rem;
    /* font-weight: 600;    */
    padding: 10px 15px;
    border: none;
    background-color: var(--dark5);
    color: var(--dark8);
    border-radius: 5px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode';
    cursor: pointer;
}

table {
    /* background-color: red; */
    width: 100%;
    padding-top: 15px;
    /* border-collapse: collapse; */
    /* table-layout: fixed; */
}
th, td{
    padding:5px 10px;
    color: var(--dark8);
    vertical-align: middle;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 600;
    /* justify-content: center; */
    /* background-color: yellow;  */
}
td{
    font-size: 1rem;
    font-weight: 500;
}
.tableHead_1, .tableData_1{
    width : 12%
}
.tableHead_4, .tableData_4{
    width : 15%
}
.tableHead_2, .tableHead_3, .tableData_2, .tableData_3{
    width : 20%
}

.popup {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: none;
    align-items: center;
    justify-content: center;
    z-index: 10;
    /* transition: 0.3s ease-out, transform 2s ease; */
}

.popup.open {
    display: flex;
    /* transition: 0.3s ease-out, transform 2s ease; */
}

.popupContainer {
    background: var(--dark2);
    color: var(--dark8);
    padding: 30px;
    border-radius: 10px;
    width: 400px;
    max-width: 90%;
}

/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--dark8);
} */

.popupHeader{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.title {
    font-size: 1.5rem;
    font-weight: 600;
}

.closeBtn {
    background: transparent;
    color: var(--dark8);
    font-size: 1.5rem;
    border: none;
    cursor: pointer;
}

.details {
    margin-top: 15px;
}

.inputFieldContainer {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.inputFieldContainer div {
    margin-bottom: 15px;
}

input[type="text"],
input[type="number"],
input[type="file"] {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid var(--dark5);
}

.popup.readOnly .inputFieldContainer {
    color: var(--dark8);
}

.popup.readOnly input[type="text"],
.popup.readOnly input[type="number"],
.popup.readOnly input[type="file"] {
    background-color: var(--dark4); 
    color: var(--dark8);
    border-color: var(--dark7); 
}


input[type="file"] {
    padding: 5px;
    cursor: pointer;
}

.readBtn, .editBtn, .deleteBtn{
    font-size: 1rem;
    padding: 9px;
    margin: 4px;
    border: solid 2px var(--dark7);
    background-color: var(--dark6);
    color: var(--dark8);
}

.submitBtn {
    width: 100%;
    padding: 10px;
    background-color: var(--dark5);
    color: var(--dark8);
    border: none;
    border-radius: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    margin-top: 20px;
}

.submitBtn:hover {
    background-color: var(--dark6);
}